@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    background-color:#040C18 ;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 30px;
    margin: 30px;
    font-family: Manrope;
}

.nav-head {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.navbar {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.navlist {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.signin {
   color: white;
}

.signup {
    color: #FFFFFF;
    background-color: #FF4820;
    width: 60px;
    border: none;
    cursor: pointer;
}

.auth--container {
    margin-left: auto;
}

.section {
    display: flex;
}

.banner {
    border: 2px solid red;
}
.section h1 {
    font-size: 62px;
    line-height: 75px;
    width: 614px;
    margin-top: 80px;
    margin-bottom: 50px;
    /* background-image: linear-gradient(to left, #F49867, #AE67FA); */
    /* -webkit-background-clip: text;  */
    color: #F49867;
}

.section p {
    color: #81AFDD;
    line-height: 27.32px;
    font-size: 20px;
} 

.section img {
    background-image: url("../Illustration.svg");
}

.form {
    display: flex;
} 

.mail {
    color: white;
    background-color: #052D56;
    height: 60px;
    width: 60%;
    text-align: start;
    font-size: 15px;
    border: none;
    margin-top: 30px;
    text-align: center;
}

.btn {
    color: #FFFFFF;
    background-color: #FF4820;
    height: 60px;
    width: 120px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.group {
    margin-bottom: 20px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.section-two {
    background-color:#0f4881;
    display: flex;
    padding: 40px;
    border-style: ridge;
    border-width: 1px;
    border-color: #00000040;
    width: 1200px;
    height: 500px;
}

.what-is {
    color: #FFFFFF;
    height: 0px;
}

.gp-text {
    color: #81AFDD;
    line-height: 30px;
    width: 100%;
    height: 92px;
    margin-left: 100px;
}

.sec-heading h2 {
    background-image: linear-gradient(to left, #F49867, #AE67FA);
    -webkit-background-clip: text; 
    color: transparent;
    line-height: 45px;
    width: 2000px;
    margin-top: 50px;
}

.explore {
    color: #FF8A71;
    width: 143px;
}

.cke {
    display: flex;
}

.target {
    color: #FFFFFF;
}

.t-text {
    color: #81AFDD;
}

.sec-three h2 {
    background-image: linear-gradient(to left, #F49867, #AE67FA);
    -webkit-background-clip: text; 
    color: transparent;
    margin-top: 200px;
    line-height: 45px;
    width: 350px;
    font-size: 34px;
}

.request {
    color: #FF8A71;
    margin-top: 40px;
}

.target-one,
.target-two,
.target-three,
.target-four {
    color: white;
    /* display: flex; */
}
.target {
    display: flex;
    justify-content: flex-end;
}